.divNav{
    background-color: rgba(7,7,7,.93);
}

.navbar{
    background-color: transparent;
    display: flex;
    margin: 0px 100px;
    justify-content: space-around;
    border: 1px solid red;
    position: sticky;
    top: 0px;
}

.navbar .menus{
    display: flex;
    align-self: flex-end;
}

.navbar .contact{
    display: flex;
    align-self: flex-end;
}

.navbar a{
    font-size: 18px;
    color: whitesmoke;
    font-weight: 400;
    background-color: transparent;
    border: none;
    padding-right: 30px;
    text-decoration: none;
    letter-spacing: .02em;
    margin: 0px 42.1049px;
    padding: 15px 40px 15px 0;
}

.navbar a:focus{
    color: #f0860c;
}